@font-face {
    font-family: "PTSansNarrowRegular";
    src: url("../fonts/PTSansNarrowRegular/PTSansNarrowRegular.eot");
    src: url("../fonts/PTSansNarrowRegular/PTSansNarrowRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSansNarrowRegular/PTSansNarrowRegular.woff") format("woff"),
    url("../fonts/PTSansNarrowRegular/PTSansNarrowRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PTSansNarrowBold";
    src: url("../fonts/PTSansNarrowBold/PTSansNarrowBold.eot");
    src: url("../fonts/PTSansNarrowBold/PTSansNarrowBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSansNarrowBold/PTSansNarrowBold.woff") format("woff"),
    url("../fonts/PTSansNarrowBold/PTSansNarrowBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


body {
	font-family: "PTSansNarrow", "Arial", sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: black;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: -1px;
}

h2,h1 {
	font-size: 30px;
}

h2>a>span {
	font-size: 14px;
}


.info-description h2, legend {
	font-size: 24px;
}

.features-name {
	font-size: 30px;
	color: white;
}

.item-category {
	text-transform: none;
}




