@font-face {
    font-family: "PTSansNarrowRegular";
    src: url("../fonts/PTSansNarrowRegular.eot");
    src: url("../fonts/PTSansNarrowRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSansNarrowRegular.woff") format("woff"),
    url("../fonts/PTSansNarrowRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PTSansNarrowBold";
    src: url("../fonts/PTSansNarrowBold.eot");
    src: url("../fonts/PTSansNarrowBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSansNarrowBold.woff") format("woff"),
    url("../fonts/PTSansNarrowBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/*СТИЛИ ТОВАРА*/


.header {
    min-height: 70px;
    margin-bottom: 60px;
    background-color: black;
}

.header-logo {
    float: left;
    width: 160px;
}

.main-navigation {
    float: left;
    width: auto;
    font-size: 0px;
}

.main-navigation>ul>li {
    display: inline-block;
    font-size: 14px;
    padding-right: 20px;

}

.user-block {
    float: right;
    width: 150px;
}

h1 {
    margin-bottom: 30px;
}

.breadcrumbs {
    font-size: 0px;
    margin-bottom: 50px;
}

.breadcrumbs>a {
    display: inline-block;
    font-size: 14px;
    padding-right: 15px;
}

.img-container {
    float: left;
    width: 460px;
}

.img-mini {
	display: inline-block;
	font-size: 0px;
}

.img-mini>img {
	margin-right: 20px;
}

.img-mini>img:last-child {
	margin-right: 0px;
}

.info-container {
    float: right;
    width: 400px;
}

.info-item-head {
    margin-top: 25px;
    margin-bottom: 40px;
}

.item-available {
    float: left;
    width: 140px;
}

.info-article {
    float: right;
    width: 260px;
    text-align: right;
}

.info-price {
    font-size: 0px;
}

.info-price>p {
    display: inline-block;
    width: 109px; 
    font-size: 14px;
    text-align: center;
}

.info-price>a {
    display: inline-block;
    width: 78px;
    font-size: 14px;
    text-align: center;
}

.footer-container {
    width: 940px;
    min-height: 190px;
    padding: 0px 10px;
    margin: 0 auto;
}

.footer-contacts {
    float: left;
    width: 400px;
}

.footer-social {
    float: left;
    width: 400px;
}

.footer-copyright {
    float: right;
    width: 140px;
}
/*СТИЛИ ТОВАРА*/



/*СТИЛИ КАТАЛОГА*/


.filter-wrapper {
	width: 230px;
	float: left;
}

.item-wrapper {
	float: right;
	width: 700px; 
}

.item-container {
	font-size: 0px;
}

.item {
	width: 220px;
	display: inline-block;
	font-size: 14px;
	margin-right: 20px;
	margin-bottom: 20px;
	vertical-align: top;
}

.item:nth-child(3n) {
	margin-right: 0px;
}

.page {
	display: inline-block;
	font-size: 0px;
}

.page>a {
	font-size: 14px;
}


/*СТИЛИ КАТАЛОГА*/





body {
	font-family: "PTSansNarrowBold", "Arial", sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: black;
	font-weight: bold;
	text-transform: uppercase;
}

h2,h1 {
	font-size: 30px;
}

h2>a>span {
	font-size: 14px;
}

fieldset {
	border-style: none;
}

.info-description h2, legend {
	font-size: 24px;
}

.features-name {
	font-size: 30px;
	color: white;
}

.item-category {
	text-transform: none;
}

.clearfix:after {
  	content: "";
  	display: table;
  	clear: both;
}

.container {
	width: 940px;
	padding: 0px 10px;
	margin: 0 auto;
}

.main {
	margin-bottom: 50px;
}

